.about-app {

}

.about-nav{
    transform: translateY(-10px);
}
.about-header{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-body {
    background-image: url('./../../assets/About/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
}

.about-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 300px;
    margin-top: 110px;
}
.about-title{
    color: #F00;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-bottom: -2px;   
}
.about-text-upper{
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    width: 240px;  
    margin-top: 30px;
    margin-left: 110px;
}
.about-text{
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    width: 220px;  

}

.about-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin-left: 250px;
}

.about-lower-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.about-subtitle {
    color: #FF1A1A;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -2px; 
}

@media screen and (max-width: 1150px) {

    .about-app{
        overflow: hidden;
    }
    .about-body {
        background-image: url('./../../assets/About/about-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .about-upper{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 50px;
        margin-top: 150px;
    }

    .about-text-upper{
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  
        width: 240px;  
        margin-top: 30px;
        margin-left: 0px;
    }
    .about-lower{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
        margin-left: 50px;
        margin-bottom: 70px;
    }

}